html {
	margin: 0;
	padding: 0;

}
body {
	margin: 0;
	padding: 0;
}
* {
	box-sizing: border-box;
}
canvas {
	outline: none;
}

#container3D{
	width: 100vw;
	height: 100vh;
}
.navigationCube{
	width: 300px;
	height: 300px;
	z-index: 99999;
	background-color: red;
	top: 0;
	right: 0;
}
